{% for order in orders %}
<tr>
  <td class="title">
    <div class="title-wrapper">
      <a href="/admin/order/edit/{{ order.id }}/">{{ order.id }}</a>
      <ul class="actions">
        <li>
          <div class="w-dropdown">
            <button type="button" class="w-dropdown__toggle w-dropdown__toggle--icon" data-w-dropdown-target="toggle" aria-label="More options" aria-expanded="false">
              <svg class="icon icon-dots-horizontal w-dropdown__toggle-icon" aria-hidden="true">
                <use href="#icon-dots-horizontal"></use>
              </svg>
            </button>
            <ul class="w-dropdown__menu" hidden>
              <li><a href="/admin/order/edit/{{ order.id }}/">Edit</a></li>
              <li><a href="/admin/order/inspect/{{ order.id }}/">Inspect</a></li>
              <li><a href="/admin/order/delete/{{ order.id }}/">Delete</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </td>
  <td>{{ order.shopper_full_name }}</td>
  <td>{{ order.shopper_email }}</td>
  <td>{{ order.shopper_country }}</td>
  <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
  <td>
    <a class="button button-small" href="/admin/order/inspect/{{ order.id }}/">Voir produits</a>
  </td>
</tr>
{% endfor %}
