{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %} {% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css" />

<body>
    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="icon-chevrons-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <main>
        <!-- slider-area-start -->
        
      <section 
    id="main-slider"
    hx-get="{% url 'base:load_slider' self.id %}"
    hx-trigger="load"
    hx-target="#main-slider"
    hx-swap="innerHTML"
>
  <div>Chargement du slider...</div>
</section>


       


        
       


        <!-- Valeurs -->
        {% include "base/simple_content_page.html" %}

        <!-- Engagement -->
        <section class="product-feature-area product-feature pt-80 pb-20">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="tpfeature__thumb p-relative pb-40">
                            {% image page.image max-800x650 as img %}
                            <img src="{{ img.url }}" alt="{{ page.title }}" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="tpproduct-feature p-relative pt-45 pb-40">
                            <div class="tpsection tpfeature__content mb-35">
                                <h4 class="tpsection__sub-title mb-0">
                                    ~ The Best For Your ~
                                </h4>
                                <h4
                                    class="tpsection__title tpfeature__title mb-25"
                                >
                                    {{page.title}}
                                </h4>
                                <p>{{page.hero_text}}.</p>
                                <h4 class="tpfeature__price-red mb-45">
                                    From:<span>$54.00</span>/per kilogram.
                                </h4>
                                {% if page.hero_cta_link%}
                                <a
                                    class="tp-btn-4"
                                    href="{{ page.hero_cta_link.url }}"
                                    >{{page.hero_cta}}</a
                                >
                                {%endif%}
                            </div>
                            <div class="tpfeature__shape d-none d-md-block">
                                <img
                                    class="tpfeature__shape-three"
                                    src="assets/img/product/feature-shape-3.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Quizz -->
        <section class="product-feature-area product-feature pt-80 pb-20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="tpproduct-feature p-relative pt-45 pb-40">
                            <div class="tpsection tpfeature__content mb-35">
                                <h4 class="tpsection__sub-title mb-0">
                                    ~ The Best For Your ~
                                </h4>
                                <h4
                                    class="tpsection__title tpfeature__title mb-25"
                                >
                                    {{page.title}}
                                </h4>
                                <p>{{page.hero_text}}.</p>
                                <h4 class="tpfeature__price-red mb-45">
                                    From:<span>$54.00</span>/per kilogram.
                                </h4>
                                {% if page.hero_cta_link%}
                                <a
                                    class="tp-btn-4"
                                    href="{{ page.hero_cta_link.url }}"
                                    >{{page.hero_cta}}</a
                                >
                                {%endif%}
                            </div>
                            <div class="tpfeature__shape d-none d-md-block">
                                <img
                                    class="tpfeature__shape-three"
                                    src="assets/img/product/feature-shape-3.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="tpfeature__thumb p-relative pb-40">
                            {% image page.image max-440x220 as img %}
                            <img src="{{ img.url }}" alt="{{ page.title }}" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonial-area pt-60 pb-60">
            <div class="container">
                <div class="testimonial__shape p-relative">
                    <img
                        src="assets/img/shape/tree-leaf-4.svg"
                        alt=""
                        class="testimonial__shape-one"
                    />
                    <img
                        src="assets/img/shape/tree-leaf-5.svg"
                        alt=""
                        class="testimonial__shape-two"
                    />
                    <img
                        src="assets/img/shape/tree-leaf-6.png"
                        alt=""
                        class="testimonial__shape-three"
                    />
                </div>
                <div class="swiper-container tptestimonial-active p-relative">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row justify-content-center p-relative">
                                <div class="col-md-8">
                                    <div
                                        class="tptestimonial__item text-center"
                                    >
                                        <div class="tptestimonial__avata mb-25">
                                            <img
                                                src="assets/img/testimonial/test-avata-1.png"
                                                alt=""
                                            />
                                        </div>
                                        <div class="tptestimonial__content">
                                            <p>
                                                " Also like the fact that I can
                                                pick my staples in the brown
                                                <br />
                                                paper packs and glass containers
                                                at the zero waste section, with
                                                an <br />
                                                idea to reduce plastic and also
                                                more convenient. "
                                            </p>
                                            <div
                                                class="tptestimonial__rating mb-5"
                                            >
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                            </div>
                                            <h4 class="tptestimonial__title">
                                                Algistino Lionel
                                            </h4>
                                            <span
                                                class="tptestimonial__avata-position"
                                                >Web Designer at
                                                Blueskytechco</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tptestimonial-arrow d-none d-md-block">
                        <button class="testi-arrow tptestimonial-arrow-left">
                            <i class="icon-chevron-left"></i>
                        </button>
                        <button class="testi-arrow tptestimonial-arrow-right">
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>



        <!-- Communeauté -->
        <section class="testimonial-area pt-60 pb-60">
            <div class="container">
                <div class="swiper-container tptestimonial-active p-relative">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row justify-content-center p-relative">
                                <div class="col-md-8">
                                    <div
                                        class="tptestimonial__item text-center"
                                    >
                                        <div class="tptestimonial__content">
                                            <h4 class="tptestimonial__title">
                                                Algistino Lionel
                                            </h4>
                                            <p>
                                                " Also like the fact that I can
                                                pick my staples in the brown
                                                <br />
                                                paper packs and glass containers
                                                at the zero waste section, with
                                                an <br />
                                                idea to reduce plastic and also
                                                more convenient. "
                                            </p>
                                            <div
                                                class="tptestimonial__rating mb-5"
                                            >
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                                <a href="#"
                                                    ><i
                                                        class="icon-star_outline1"
                                                    ></i
                                                ></a>
                                            </div>
                                            {% if page.hero_cta_link%}
                                            <a
                                                class="tp-btn-4"
                                                href="{{ page.hero_cta_link.url }}"
                                                >{{page.hero_cta}}</a
                                            >
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- subscribe-are-end -->
    </main>
    <script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
<script>
document.body.addEventListener('htmx:afterSwap', function(evt) {
  if (evt.detail.target.id === "main-slider") {
    console.log("✅ Slider chargé avec htmx !");

    
    new Swiper(".slider-active", {
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".tpslider__arrow-nxt",
        prevEl: ".tpslider__arrow-prv",
      },
      pagination: {
        el: ".slider-pagination",
        clickable: true,
      },
    });
  }
});
</script>

</body>

{% endblock content %}
