{% load i18n wagtailadmin_tags %}
<div class="nice-padding">
    <h2>{% trans "Changer le statut des commandes sélectionnées" %}</h2>
    <p>{% blocktrans count counter=items|length %}Vous êtes sur le point de changer le statut d'une commande.{% plural %}Vous êtes sur le point de changer le statut de {{ counter }} commandes.{% endblocktrans %}</p>
    
    <form action="{{ view.get_execution_url }}" method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="status">{% trans "Nouveau statut:" %}</label>
            <select name="status" id="status" required>
                <option value="">{% trans "Choisir un statut..." %}</option>
                {% for status in statuses %}
                <option value="{{ status.id }}">{{ status.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="button button-primary">{% trans "Changer le statut" %}</button>
        <a href="{{ view.get_cancel_url }}" class="button button-secondary">{% trans "Annuler" %}</a>
    </form>
</div>